<a href="https://colab.research.google.com/github/diahdevi-co/Web-Scraping-Alphaliner/blob/main/TRANSFORM_ALPHALINER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIBRARY

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

BACA DATA

In [ ]:
df = pd.read_csv('/content/alphaliner_top100_named.csv')
display(df)

,Rank,Operator,Total TEU,Total Ships,Owned TEU,Owned Ships,Chartered TEU,Chartered Ships,% Chartered,Orderbook TEU,Orderbook Ships,% Existing
0,1,Mediterranean Shg Co,"6,900,263",943,"4,118,272",677.0,"2,781,991",266.0,40.3%,"2,221,966",127.0,32.2%
1,2,Maersk,"4,614,754",734,"2,751,249",344.0,"1,863,505",390.0,40.4%,"917,520",71.0,19.9%
2,3,CMA CGM Group,"4,065,965",703,"2,422,376",340.0,"1,643,589",363.0,40.4%,"1,734,496",130.0,42.7%
3,4,COSCO Group,"3,487,671",542,"2,113,542",205.0,"1,374,129",337.0,39.4%,"1,199,176",83.0,34.4%
4,5,Hapag-Lloyd,"2,402,415",293,"1,448,786",132.0,"953,629",161.0,39.7%,"375,820",32.0,15.6%
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Vistar Shipping LLC,"7,432",4,"7,432",4.0,NaN,NaN,NaN,NaN,NaN,NaN
96,97,STF Shipping,"7,356",4,NaN,NaN,"7,356",4.0,100%,NaN,NaN,NaN
97,98,Guangxi Hongxiang Shipping Co,"7,249",14,"7,249",14.0,NaN,NaN,NaN,NaN,NaN,NaN
98,99,Marsa Ocean Shipping,"7,113",5,"7,113",5.0,NaN,NaN,NaN,NaN,NaN,NaN
99,100,GS Lines,"7,104",8,"6,730",7.0,374,1.0,5.3%,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             100 non-null    int64
 1   Operator         100 non-null    object
 2   Total TEU        100 non-null    float64
 3   Total Ships      100 non-null    float64
 4   Owned TEU        100 non-null    float64
 5   Owned Ships      100 non-null    float64
 6   Chartered TEU    100 non-null    float64
 7   Chartered Ships  100 non-null    float64
 8   % Chartered      100 non-null    float64
 9   Orderbook TEU    100 non-null    float64
 10  Orderbook Ships  100 non-null    float64
 11  % Existing       100 non-null    float64
dtypes: float64(10), int64(1), object(1)
memory usage: 9.5+ KB

CHECK MISSING VALUE

In [ ]:
print("jumlah missing value")
print(df.isnull().sum())

jumlah missing value
Rank                0
Operator            0
Total TEU           0
Total Ships         0
Owned TEU          14
Owned Ships        14
Chartered TEU      18
Chartered Ships    18
% Chartered        18
Orderbook TEU      60
Orderbook Ships    60
% Existing         60
dtype: int64

ubah tipe data, hitung ulang presentase, dan simpan data yang sudah di *transform*

In [ ]:
df.columns = df.columns.str.strip()

numeric_cols = [
    "Total TEU", "Total Ships",
    "Owned TEU", "Owned Ships",
    "Chartered TEU", "Chartered Ships",
    "Orderbook TEU", "Orderbook Ships"
]

for col in numeric_cols:
    if col in df.columns:
        df[col] = (
            df[col]
            .astype(str)
            .str.replace(",", "", regex=False)
            .replace({"": "0", "nan": "0"})
            .astype(float)
        )

percent_cols = ["% Chartered", "% Existing"]

for col in percent_cols:
    if col in df.columns:
        df[col] = (
            df[col]
            .astype(str)
            .str.replace("%", "", regex=False)
            .replace({"": "0", "nan": "0"})
            .astype(float)
        )

        df = df.fillna(0)

df['% Chartered'] = (df['Chartered TEU'] / df['Total TEU'] * 100).round(2)
df['% Existing'] = (df['Orderbook TEU'] / df['Total TEU'] * 100).round(2)
display(df)

df.to_csv('alphalinertop100_tabel2_transform.csv', index=False)

,Rank,Operator,Total TEU,Total Ships,Owned TEU,Owned Ships,Chartered TEU,Chartered Ships,% Chartered,Orderbook TEU,Orderbook Ships,% Existing
0,1,Mediterranean Shg Co,6900263.0,943.0,4118272.0,677.0,2781991.0,266.0,40.32,2221966.0,127.0,32.20
1,2,Maersk,4614754.0,734.0,2751249.0,344.0,1863505.0,390.0,40.38,917520.0,71.0,19.88
2,3,CMA CGM Group,4065965.0,703.0,2422376.0,340.0,1643589.0,363.0,40.42,1734496.0,130.0,42.66
3,4,COSCO Group,3487671.0,542.0,2113542.0,205.0,1374129.0,337.0,39.40,1199176.0,83.0,34.38
4,5,Hapag-Lloyd,2402415.0,293.0,1448786.0,132.0,953629.0,161.0,39.69,375820.0,32.0,15.64
...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,Vistar Shipping LLC,7432.0,4.0,7432.0,4.0,0.0,0.0,0.00,0.0,0.0,0.00
96,97,STF Shipping,7356.0,4.0,0.0,0.0,7356.0,4.0,100.00,0.0,0.0,0.00
97,98,Guangxi Hongxiang Shipping Co,7249.0,14.0,7249.0,14.0,0.0,0.0,0.00,0.0,0.0,0.00
98,99,Marsa Ocean Shipping,7113.0,5.0,7113.0,5.0,0.0,0.0,0.00,0.0,0.0,0.00
99,100,GS Lines,7104.0,8.0,6730.0,7.0,374.0,1.0,5.26,0.0,0.0,0.00